* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 10vh;
  height: 90vh;
  width: 60vh;

  border: solid black;
  border-radius: 3.5%;
  background: rgb(0, 0, 0);
}

.calculatingScreen {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 5vh;
  padding: 1vh;
  height: 15vh;
  width: 50vh;

  border: solid black;
  border-radius: 3.5%;
  background: white;
  font-size: 7.5vh;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 5vh 5vh 5vh;
  height: 50vh;
  width: 50vh;

  border-radius: 1%;
}

button {
  margin: 1vh;
  height: 10vh;
  width: 10vh;

  cursor: pointer;
  background: black;
  color: white;
  border: solid white;
  border-radius: 100%;
}

button:hover {
  height: 10.5vh;
  width: 10.5vh;

  background: white;
  color: black;
}
