body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border: solid black 2px;
  border-radius: 2.5%;
}
